﻿body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: 700;
}

/*Bootstrap Overrides*/

body{
    font-size: 17px;
}

.navbar-inverse {
    background-color: #cc0000;
    border-color: #cc0000;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

    .navbar-inverse .navbar-brand {
        color: #ffffff;
        font-weight:700;
    }

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    padding: 20px 15px;
    border-radius: 9px;
}

.btn {
    padding: 7px 20px;
    font-size: 17px;
    border-radius: 9px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #a70000;
}


/*page level style*/

.gigs{
    list-style:none;
}

.gigs > li{
    position:relative;
    margin-bottom: 30px;
}

.gigs > li .date{
    background-color: red;
    color: white;
    text-align: center;
    width: 60px;
    border-radius: 8px;
}

.gigs > li .date .month{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 2px 6px;
}

.gigs > li .date .day{
    background-color: #f7f7f7;
    color: #333;
    font-size: 20px;
    padding: 6px 12px;
}

.gigs > li .details {
    position: absolute;
    top:0px;
    left: 70px;
}

.gigs > li .details .artist{
    font-weight: bold;
    display: block;
}

    .gigs > li .details .genre {
        font-size: 15px;
    }
