﻿@model IEnumerable<GigHUB.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}
<ul class="gigs">
    @foreach (var gig in Model)
    {
    <li>
        <div class="date">
            <div class="month">
                @gig.DateTime.ToString("MMM")
            </div>
            <div class="day">
                @gig.DateTime.ToString("d ")
            </div>
        </div>
        <div class="details">
            <span class="artist">
                @gig.Artist.Name
            </span>
            <span class="genre">
                @gig.Genre.Name
            </span>
        </div>
    </li>
    }
</ul>